<!-- https://getbootstrap.com/docs/4.3/components/input-group/#button-addons -->

<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    formControlName="query"
  />

  <div *ngIf="queryForm.get('query') as field">
    <div *ngIf="field.touched || field.dirty">
      <p *ngIf="field.hasError('required')">
        Field is required
      </p>

      <p *ngIf="field.getError('minlength') as error">
        Minimum {{ error.requiredLength }} letters
      </p>

      <p *ngIf="field.getError('censor') as error">
        Cant use words like "{{ error.badword }}"
      </p>
    </div>
  </div>
</div>

<!-- #queryRef
  (keyup.enter)="search(queryRef.value)"
 -->
